
@font-face{
    font-family:KaTeX_Typewriter_Replace;
    src:url(fonts/KaTeX_Typewriter-Regular.eot);
    src:url(fonts/KaTeX_Typewriter-Regular.eot#iefix) format('embedded-opentype'),url(fonts/KaTeX_Typewriter-Regular.woff2) format('woff2'),url(fonts/KaTeX_Typewriter-Regular.woff) format('woff'),url(fonts/KaTeX_Typewriter-Regular.ttf) format('ttf');
    font-weight:400;font-style:normal
}

@font-face{
    font-family:KaTeX_SansSerif_Replace;
    src:url(fonts/KaTeX_SansSerif-Bold.eot);
    src:url(fonts/KaTeX_SansSerif-Bold.eot#iefix) format('embedded-opentype'),url(fonts/KaTeX_SansSerif-Bold.woff2) format('woff2'),url(fonts/KaTeX_SansSerif-Bold.woff) format('woff'),url(fonts/KaTeX_SansSerif-Bold.ttf) format('ttf');
    font-weight:700;
    font-style:normal
}

.ps-root {
    font-family: KaTeX_Main, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: 100;
    -webkit-font-smoothing: antialiased !important;
}
.ps-root .ps-algorithm {
    margin: 0.8em 0;
    /* algorithm environment has borders; algorithmic has not */
    border-top: 3px solid black;
    border-bottom: 2px solid black;
}
.ps-root .ps-algorithm.with-caption > .ps-line:first-child {
    border-bottom: 2px solid black;
}
.ps-root .katex {
    text-indent: 0;
    font-size: 1em;
}
.ps-root .ps-line {
    margin: 0; padding: 0;
    margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.ps-root  {
    margin-bottom: 0em;
    margin-top: 0em;
}

.ps-root .ps-funcname {
    font-family: KaTeX_Main, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: small-caps;
    font-style: normal;
    text-transform: none;
}
.ps-root .ps-keyword {
    font-family: KaTeX_Main, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-variant: normal;
    font-style: normal;
    text-transform: none;
}
.ps-root .ps-comment {
    font-family: KaTeX_Main, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-transform: none;
}

.ps-root  p br {
    margin: 0;
}
/* line number support */
.ps-root .ps-linenum {
    font-size: 0.8em;
    line-height: 100%;
    width: 1.6em;
    text-align: right;
    display: inline-block;
    position: relative;
    padding-right: 0.3em;
}
.ps-root .ps-algorithmic.with-linenum .ps-line.ps-code {
    text-indent: -1.6em;
}
.ps-root .ps-algorithmic.with-linenum .ps-line.ps-code > span{
    text-indent: 0em;
}
