/*
h1 {
        counter-reset: h2counter 0 theorem-counter 0  exercise 0;
}

h2:before {
        content:  counter(h2counter) ".\0000a0\0000a0";
        counter-increment: h2counter;
        counter-reset: h3counter;
}

h2.nocount:before {
       content: none;
       counter-increment: none;
}

h3:before {
        content:  counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
        counter-increment: h3counter;
}

.exercise:before {
    counter-increment: exercise;
}

*/


.myequationbox {
    overflow-x: auto;
    width: 100%;
}

h2:before {
    content: attr(data-number) " ";
}

h3:before {
    content: attr(data-number) " ";
}

h4:before {
    content: attr(data-number) " ";
}



.definition, .remark, .example, .exercise, .objectives, .pause , .recap , .solvedexercise , .solution {
  border-left: 2px solid rgba(0, 0, 0, .1);
  padding: 0 0 0 36px;
  display: block;
  margin: 12px 0;
  font-style: normal;
}

.pause {
    background-color:  #9fc2fc;
}

.solvedexercise {
    background-color:  #fcfbde;
}

.example {
    background-color:  #fcfbde;
}

.remark {
    background-color:  #fcfbde;
}

.theorem , .lemma, .definition, .bigidea, .algorithm , .solution {
    background-color: #e0f7d9;
}

.objectives , .recap {
    background-color: #efcee7;
}

.theorem:before  {
    content: attr(name);
    font-weight: bold;
    font-style: normal;
}

.lemma:before {
    content: attr(name);
    font-weight: bold;
    font-style: normal;
}

.definition:before {
    content: attr(name);
    font-weight: bold;
    font-style: normal;
}

.bigidea:before {
    content: attr(name);
    font-weight: bold;
    font-style: normal;
    }

.algorithm:before {
  content: attr(name);
  font-weight: bold;
  font-style: normal;
}

.remark:before {
  content: attr(name);
  font-weight: bold;
  font-style: normal;
}

.example:before {
  content: attr(name);
  font-weight: bold;
  font-style: normal;
}


.exercise:before {
  content: attr(name);
  font-weight: bold;
  font-style: normal;
}

.solvedexercise:before {
  content: attr(name);
  font-weight: bold;
  font-style: normal;
}

.solution:before {
  content: attr(name);
  font-weight: bold;
  font-style: normal;
}


.pause:before {
  content: "Pause and think.";
  font-weight: bold;
  font-style: normal;
}



.proof , .proofidea {
    display: block;
    margin: 12px 0;
    font-style: normal;
}

.proof:before {
    content: "Proof.";
    font-style: italic;
}

.proofidea:before {
    content: "Proof idea.";
    font-style: italic;
}

.proof:after  {
    content: "\25FC";
}


.objectives:before {
  content: "Learning objectives.";
  font-weight: bold;
  font-style: normal;
}



.recap:before {
  content: "Chapter recap.";
  font-weight: bold;
  font-style: normal;
}

.definition:after {
  content: "";
}


.theorem , .lemma , .bigidea , .algorithm {
  border-left: 2px solid rgba(0, 0, 0, .1);
  padding: 0 0 0 36px;
  display: block;
  margin: 12px 0;
  font-style: italic;
}



.theorem:after {
  content: "";
}


figure {
  margin: auto;
  width: 60%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  padding: 0.5em;
}

@media only screen and (max-width: 768px) {
  /* for mobile phones */ 
  figure {
    width: 100%;
  }
}

figure img {
  width: 100%;
}

figure figcaption:before {
  content: "Figure ";
}

figure figcaption {
    text-align: left;
}

/*
.equationcontainer::-webkit-scrollbar {
   display: none;
}
*/


/*--------------------------------------------------*/
/* probably rest should be deleted */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f2f5f9; /* gray*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav ul {
    line-height: 80%;
    list-style-type: none;
    padding-left: 0px;
    margin-left:0px;
}

.sidenav ul ul {
    margin-left:10px;
    padding-left: 0px;

}


.sidenav ul ul ul {
    margin-left:20px;
    padding-left: 0px;
}

.sidenav ul ul  ul ul {
    margin-left:30px;
    padding-left: 0px;
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 4px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #bc1027;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: fixed;
    top: 0px;
    left: 220px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
    color: black;
}

/* Position and style the open button (top left corner) */
.openbtn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 36px;
    margin-left: 10px;
    cursor: pointer;
    display: block;
}

.toppart {
    margin-left: 80px;
}

#topBtn {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: blue;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: white;
  opacity: 0.5;
}

#topBtn:hover {
  color: red;
}


/* On smaller screens drop the navigation  */
@media only screen and (max-width: 768px) {
    .sidenav { display: none;  }
    .openbtn { display: none; }
    .sidenav .closebtn { display: none }
    /* .d-article  { margin-margin: 0px;  } */
}
